
.alternateBG:nth-child(odd) {
    background: #eee;
}
div {
    width: 93%;
    border-top: 1px #ddd solid;
    padding: 1em;
    margin: 0 auto;
}
.ver1 span.verCount {
    display: none;
}

table td {
    border-left: 1px #ccc solid;
    padding-left: .2em;
    vertical-align: top;
    max-width: 13em;
}
table td:first-child {
    border-left: none;
}
table td div {
    width: 100%;
    border-top: none;
    padding: 0;
    margin: 0;
    max-height: 6.5em;
    overflow: auto;
    white-space: nowrap;
}