body {
    background: #def;
    margin: 0;
    padding: 0;
}

.alternateBG:nth-child(odd) {
    background: #f3f3f3;
}
.alternateBG div {
    width: 93%;
    border-top: 1px #d3d3d3 solid;
    padding: 1em;
    margin: 0 auto;
}
.ver1 span.count,
.branch1 span.count,
.tag1 span.count {
    display: none;
}

table td {
    vertical-align: top;
}
table td>div {
    padding: .2em .4em !important;
    max-height: 6.5em;
    overflow: auto;
    border: none;
}
table td>div.desc {
    text-align: right;
}